<header>
            <div id="logo-area">
            
                    <img src="logo (2).png" alt="Logotipo de um role muito top" title="logo" width="500" height="400"/>
                    <hgroup>
                        <h2> O seu evento aqui é TOP</h2>
                    </hgroup>
                </div>
                <hr>
                <nav>
                    <div class="section-container">
                        <ul>
                            <li id="bt-mobile-menu">
                                <!-- HTML para colocar os ícones do FA -->
                                <a href="javascript:void(0);" class="icon" onclick="toggleMobileMenu()">
                                    <i class="fa fa-bars"></i>
                                </a>
                            </li>
                            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href="Roletop.html" class="active">Principal</a></li>
                            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href="Roletop.html#nosso-espaço">Espaço</a></li>
                            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href="Roletop.html#Eventos">Eventos</a></li>
                            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href="Roletop.html#historia">História</a></li>
                            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href="Roletop.html#perguntas-frequentes">Dúvidas</a></li>
                            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href="Cadastro.html">Cadastre-se</a></li>
                            <li class="bt-common-menu"><a onclick="toggleMobileMenu()" href="login.html">Login</a></li>
                            
                        </ul>
                    </div>
                </nav>
            </div>
            <hr>
    </header>