<main>

<div class="container">
<form action="#" class="form-contact" method="post" tabindex="1">
<input type="text" class="form-contact-input" name="nome" placeholder="Nome" required />
<input type="email" class="form-contact-input" name="email" placeholder="Email" required />
<input type="tel" class="form-contact-input" name="tel" placeholder="Telefone" required/>
<input type="tel" class="form-contact-input" name="tel" placeholder="CPF" required/>
<input type="tel" class="form-contact-input" name="tel" placeholder="Data de nascimento" required/>
<textarea class="form-contact-textarea" name="conteudo" placeholder="Descrição do evento" required></textarea>
    <div id="pagamento">
        <label for="dia">Selecione o dia do seu evenTOP:</label>
        <input id="dia" type="date">
    </div>
    </form>
    <br>
    <div id="voltarpgprinc">
<a href="Telapagamento.html">Cadastrar evento  >></a>
<li><a href="Telauser.html"><<  Voltar para sua página principal</a></li>
</div>
</div>
</main>